:root {
    --lightTeal: #d1fffa;
    --teal: #6FEDD6;
    --orange: #FF9551;
    --red: #FF4A4A;

}
html {
    font-size: 16px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--lightTeal);
}

.header.title{
    text-align: center;
    padding-top: 20px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    width: 80%;
    gap: 50px;
    margin: auto;
    justify-content: center;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--red);
    color: white;
    box-shadow: 4px 4px lightgrey;
    text-align: center;
    width: 250px;
    height: 250px;
    gap: 10px;
    border-radius: 7%;
    border: 1px solid black;
}

.card > * {
    margin-bottom: 10px;
}
.cardTitle {
    margin: auto;
    font-weight: bold;
    font-size: 1.5rem;
}

.cardAuthor {
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
}

.newBookForm {
    display: grid;
    grid-template-columns: 100px 250px;
}

