html {
    font-size: 16px;
}

body {
    margin: 0px;
    padding: 0px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
    align-items: center;
    justify-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: antiquewhite;
    box-shadow: 2px 2px silver;
    text-align: center;
    width: 17vw;
    min-width: 250px;
    height: 17vw;
    min-height: 250px;
    gap: 10px;
}

.card > * {
    margin-bottom: 10px;
}
.title {
    margin: auto;
    font-weight: bold;
    font-size: 1.5rem;
}

.author {
    font-size: 1.1rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
}

.newBookForm {
    display: grid;
    grid-template-columns: 100px 250px;
}

